{% extends 'board/base.html' %}
{% block title %}- Detail{% endblock %}

{% block content %}

<div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 panel panel-default">
            <button type="button" class="btn btn-outline-primary btn-sm">
                {{object.author.username}}</button>
            <p><img src="{{post.photo.url}}" style="width:500px;"></p>
            <p>{{object.OS|linebreaksbr}}</p>
            <p>{{object.title|linebreaksbr}}</p>
            <p>{{object.text|linebreaksbr}}</p>

        </div>
</div>
{% endblock %}